$white: #fff;
$font-color: #1d4f76;
$content-horizontal-padding: 14px;
$input-vertical-margin: 5px;

// Coveo Primary palette
$green: #009830;
$medium-blue: #1d4f76;
$light-grey: #e6ecf0;
$medium-grey: #bcc3ca;
$dark-grey: #373737;

// Checkboxes and radios
$checkbox-size: 18px;
$checkbox-label-margin: 10px;
$checkbox-label-margin-top: 10px;
$radio-button-option-height: 18px;
$radio-button-size: 18px;
