<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://static.cloud.coveo.com/searchui/v2.3679/js/CoveoJsSearch.min.js"></script>
  <script src="js/CoveoCustomComponents.js"></script>
  <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.3679/css/CoveoFullSearch.css" />

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Coveo.SearchEndpoint.configureSampleEndpoint();
      Coveo.init(document.getElementById('search'));
    });
  </script>
</head>

<body id="search" class='CoveoSearchInterface' data-enable-history="true" data-design="new">
  <div class="coveo-tab-section">
    <a class="CoveoTab" data-id="All" data-caption="All Content"></a>
  </div>
  <div class='coveo-search-section'>
    <div class="CoveoSettings" data-include-in-menu=".CoveoShareQuery, .CoveoFeedbackLink"></div>
    <div class="CoveoSearchbox" data-enable-omnibox="true"></div>
  </div>
  <div class="coveo-main-section">
    <div class="coveo-facet-column">
      <div class="CoveoCaseContext" data-title="Case Context" data-template-id="caseContextSuggestion" data-enable-search="true"></div>
      <div class="CoveoRangePicker" data-title="Date Range Picker" data-enable-radio-button="true"></div>
      <div class="CoveoFacetDropdown" data-title="FileType" data-field="@filetype" data-tab="All"></div>
      <div class="CoveoFacet" data-title="Author" data-field="@author" data-tab="All"></div>
      <div class="CoveoFacet" data-title="Year" data-field="@year" data-tab="All"></div>
      <div class="CoveoFacet" data-title="Month" data-field="@month" data-tab="All"></div>
    </div>
    <div class="coveo-results-column">
      <div class="CoveoShareQuery"></div>
      <div class="CoveoFeedbackLink" data-subject="Enterprise Search Feedback" data-icon="fa fa-paper-plane" data-to-address="feedback@coveo.com"></div>
      <div class="CoveoExportToExcel"></div>
      <div class="CoveoPreferencesPanel">
        <div class="CoveoResultsPreferences"></div>
        <div class="CoveoSearchboxPreferences"></div>
        <div class="CoveoResultsFiltersPreferences"></div>
      </div>
      <div class="CoveoBreadcrumb"></div>
      <div class="CoveoParameterList"></div>
      <div class="CoveoSortDropdown"></div>
      <div class="coveo-results-header">
        <div class="coveo-summary-section">
          <span class="CoveoQuerySummary"></span>
          <span class="CoveoQueryDuration"></span>
        </div>
        <div class="coveo-sort-section">
          <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
          <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
        </div>
      </div>
      <div class="CoveoHiddenQuery"></div>
      <div class="CoveoDidYouMean"></div>
      <div class="CoveoErrorReport" data-pop-up="false"></div>
      <div class="CoveoResultList" data-wait-animation="fade" data-auto-select-fields-to-include="true">
        <script id="Default" class="result-template" type="text/html">
          <div class="coveo-result-frame">
            <div class="coveo-result-row">
              <div class="coveo-result-cell" style="width:70px;text-align:center;padding-top:7px;">
                <span class="CoveoIcon"></span>
                <div class="CoveoQuickview">
                  <div class="coveo-icon-for-quickview">Quickview</div>
                </div>
                <div class="CoveoRating"></div>
              </div>
              <div class="coveo-result-cell" style="padding-left:5px;">
                <div class="coveo-result-row">
                  <div class="coveo-result-cell" style="font-size:16px;">
                    <a class="CoveoResultLink"></a>
                    <div class="CoveoResultAction"></div>
                  </div>
                  <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:12px">
                    <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
                  </div>
                </div>
                <div class="coveo-result-row">
                  <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>
      </div>
      <div class="CoveoShowMore"></div>
      <div class="CoveoPager"></div>
    </div>
  </div>
</body>

</html>