

.collapse-all-link {
    color: #006BBD;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: none;
    float: right;
    cursor: pointer;
}